# cache
__pycache__/
.ruff_cache
*.egg-info
dist/

# configuration
*.env

# artifacts
*.docs
*.json
*.jsonl
*.htm
*.html
*.pdf
*.pptx
*.rtf
llm_food_outputs_*

# db
*.duckdb
*.db
*.bin
